// SCSS (Sassy CSS) - это расширение языка CSS, 
// которое добавляет дополнительные функции и возможности к обычному CSS.
//  SCSS является препроцессором CSS, что означает, что он позволяет использовать переменные, в
//  ложенные правила, миксины, наследование и другие возможности, которых нет в обычном CSS.

// SCSS предоставляет более гибкий и удобный способ написания стилей для веб-страниц. 
// Он позволяет структурировать код, упрощает его поддержку и повторное использование. 
// SCSS-файлы должны быть скомпилированы в обычный CSS перед использованием на веб-странице.
.error {



    &__container {

        @extend %font-first;

        display: flex;

        flex-direction: column;

        align-items: center;
        justify-content: center;

        margin-top: 200px;
        margin-bottom: 200px;

    }

    &__title {


        font-size: 64px;
        
        
    }

    &__desc {

        font-size: 48px;

    }
}